<div class="row sponsorship">
    <div class="col-sm-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>Full Diversity Ticket</h2>
                <h2><span class="label label-success">£1,000</span></h2>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Sponsor the full single ticket and the travel for one person on <a
                            href="https://diversitytickets.org/en/about">Travis Foundation</a></li>
                </ul>
                <p><a href="mailto:socratesuk-info@googlegroups.com?subject=Sponsorship%20Full%20Diversity%20Ticket"
                      class="btn btn-primary" role="button">Contact us</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>Diversity Ticket</h2>
                <h2><span class="label label-success">£500</span></h2>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Sponsor the full single ticket for one person on <a
                            href="https://diversitytickets.org/en/about">Travis Foundation</a></li>
                </ul>
                <p><a href="mailto:socratesuk-info@googlegroups.com?subject=Sponsorship%20Diversity%20Ticket"
                      class="btn btn-primary" role="button">Contact us</a></p>
            </div>
        </div>
    </div>
</div>
