<br><br>
<div class="table-responsive">
    <table id="packageComparison" class="table table-bordered  sponsorship">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th><h2><span class="label label-primary">Premium</span></h2></th>
            <th><h2><span class="label label-primary">Standard</span></h2></th>
            <th><h2><span class="label label-primary">Basic</span></h2></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><h3><span class="label label-primary">Tickets</span></h3></td>
            <td><strong>Two</strong></td>
            <td><strong>One</strong></td>
            <td><h3><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></h3></td>
        </tr>
        <tr>
            <td><h3><span class="label label-primary">Sponsors' Corner</span></h3></td>
            <td><h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></td>
            <td><h3><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></h3></td>
            <td><h3><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></h3></td>
        </tr>
        <tr>
            <td>Banner in the main room</td>
            <td><h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></td>
            <td><h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></td>
            <td><h3><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></h3></td>
        </tr>
        <tr>
            <td>A mention at the beginning and end of the conference</td>
            <td><h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></td>
            <td><h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></td>
            <td><h3><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></h3></td>
        </tr>
        <tr>
            <td>Your logo on the conference website</td>
            <td><h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></td>
            <td><h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></td>
            <td><h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></td>
        </tr>
        <tr>
            <td>Mentions on social media channels</td>
            <td><h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></td>
            <td><h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></td>
            <td><h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></td>
        </tr>
        <tr>
            <td>Your name in all emails to participants of SoCraTes UK 2020</td>
            <td><h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></td>
            <td><h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></td>
            <td><h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></td>
        </tr>
        <tr>
            <td>Your merchandise available to everyone at the conference</td>
            <td><h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></td>
            <td><h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></td>
            <td><h3><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></h3></td>
        </tr>
        </tbody>
    </table>
</div>
