<br>
<div class="row sponsorship">
    <div class="col-sm-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Premium Package</h2>
                <h2><span class="label label-success">£2,500</span></h2>
            </div>
            <div class="panel-body sponsorship-panel">
                <ul class="list-group">
                    <li class="list-group-item"><h3><span class="label label-primary">Sponsors Corner</span></h3> a
                        space with your banner with the possibility to recruit/advertise your company.
                    </li>
                    <li class="list-group-item"><h3><span class="label label-primary">Guaranteed two tickets</span></h3>
                        <strong>(must be claimed by April 1st and purchased separately)</strong></li>
                    <li class="list-group-item">Banner in the main room</li>
                    <li class="list-group-item">A mention at the beginning and end of the conference</li>
                    <li class="list-group-item">Your logo on the conference website</li>
                    <li class="list-group-item">Mentions on social media channels</li>
                    <li class="list-group-item">Your name in all emails to participants of SoCraTes UK 2020</li>
                    <li class="list-group-item">Your merchandise available to everyone at the conference</li>
                    <li class="list-group-item">Support the community: reduce the final ticket price for all attendees</li>
                </ul>
                <p><a href="mailto:sponsorship-2020@socratesuk.org?subject=Sponsorship%20Premium"
                      class="btn btn-primary" role="button">Contact us</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Standard Package</h2>
                <h2><span class="label label-success">£1,500</span></h2>
            </div>
            <div class="panel-body sponsorship-panel">
                <ul class="list-group">
                    <li class="list-group-item"><h3><span class="label label-primary">Guaranteed one ticket</span></h3>
                        <strong>(must be claimed by April 1st and purchased separately)</strong></li>
                    <li class="list-group-item">Banner in the main room</li>
                    <li class="list-group-item">A mention at the beginning and end of the conference</li>
                    <li class="list-group-item">Your logo on the conference website</li>
                    <li class="list-group-item">Mentions on social media channels</li>
                    <li class="list-group-item">Your name in all emails to participants of SoCraTes UK 2020</li>
                    <li class="list-group-item">Your merchandise available to everyone at the conference</li>
                    <li class="list-group-item">Support the community: reduce the final ticket price for all attendees</li>
                </ul>
                <p><a href="mailto:sponsorship-2020@socratesuk.org?subject=Sponsorship%20Standard"
                      class="btn btn-primary" role="button">Contact us</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row sponsorship">
    <div class="col-sm-3 col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Basic Package</h2>
                <h2><span class="label label-success">Pay what you like</span></h2>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Your logo on the conference website</li>
                    <li class="list-group-item">Mentions on social media channels</li>
                    <li class="list-group-item">Your name in all emails to participants of SoCraTes UK 2020</li>
                    <li class="list-group-item">Your merchandise available to everyone at the conference</li>
                    <li class="list-group-item">Support the community: reduce the final ticket price for all attendees</li>
                </ul>
                <p><a href="mailto:sponsorship-2020@socratesuk.org?subject=Sponsorship%20Basic" class="btn btn-primary"
                      role="button">Contact us</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Diversity Ticket</h2>
                <h2><span class="label label-success">£539</span></h2>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Sponsor the full single ticket for one person</li>
					<li class="list-group-item">It's also very useful to <a
                            href="https://diversitytickets.org/en/about">cover travel cost</a>.</li>
                </ul>
                <p><a href="mailto:sponsorship-2020@socratesuk.org?subject=Sponsorship%20Full%20Diversity%20Ticket"
                      class="btn btn-primary" role="button">Contact us</a></p>
            </div>
        </div>
    </div>
</div>
