<br>
<div class="row sponsorship">
    <div class="col-sm-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Premium Package (limited to 1 only)</h2>
                <h2><span class="label label-success">£10,000</span></h2>
            </div>
            <div class="panel-body sponsorship-panel">
                <ul class="list-group">
                    <li class="list-group-item"><h3><span class="label label-primary">Exclusive Sponsor's Corner</span></h3>
                      <ul>
                        <li>you’ll have the sponsor’s corner from the evening of June 1st until midday June 4th</li>
                        <li>a space with your banner to advertise your company</li>
                        <li>option to staff the space for recruiting purposes (using included tickets) </li>
                      </ul>
                    </li>
                    <li class="list-group-item"><h3><span class="label label-primary">Two tickets to the conference (2-4 June) included</span></h3>
                      <ul>
                        <li>claimable until 1/5/23</li>
                      </ul>
                    </li>
                    <li class="list-group-item">Banner in the main room</li>
                    <li class="list-group-item">A MEGA-mention at the beginning and end of each conference day</li>
                    <li class="list-group-item">Your logo on the conference website</li>
                    <li class="list-group-item">Mentions on social media channels</li>
                    <li class="list-group-item">Your name in all future emails to participants of the event</li>
                    <li class="list-group-item">Your swag available to everyone at the conference</li>
                    <li class="list-group-item">Support the community: reduce the final ticket price for all attendees</li>
                </ul>
                <p><a href="mailto:sponsorship@socratesuk.org?subject=Sponsorship%20Premium"
                      class="btn btn-primary" role="button">Contact us</a></p>
            </div>
          </div>
      </div>
      <div class="col-sm-3 col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Training Day Package (limited to 1 only)</h2>
                <h2><span class="label label-success">£5,000</span></h2>
            </div>
            <div class="panel-body sponsorship-panel">
                <ul class="list-group">
                    <li class="list-group-item"><h3><span class="label label-primary">Exclusive Sponsor's Corner</span></h3>
                      <ul>
                        <li>you’ll have the sponsor’s corner from the evening of May 31st until the evening of June 1st</li>
                        <li>a space with your banner to advertise your company</li>
                        <li>option to staff the space for recruiting purposes (using included tickets) </li>
                      </ul>
                    </li>
                    <li class="list-group-item"><h3><span class="label label-primary">Two tickets to the training day (1 June) included</span></h3>
                      <ul>
                        <li>claimable until 1/5/23</li>
                      </ul>
                    </li>
                    <li class="list-group-item">Banner in both training room</li>
                    <li class="list-group-item">A MEGA-mention at the beginning and end of the training day and each conference day</li>
                    <li class="list-group-item">Your logo on the conference website</li>
                    <li class="list-group-item">Mentions on social media channels</li>
                    <li class="list-group-item">Your name in all future emails to participants of the event</li>
                    <li class="list-group-item">Your swag available to everyone at the conference</li>
                    <li class="list-group-item">Support the community: reduce the final ticket price for all attendees</li>
                </ul>
                <p><a href="mailto:sponsorship@socratesuk.org?subject=Sponsorship%20TrainingDay"
                      class="btn btn-primary" role="button">Contact us</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Standard Package (unlimited availability)</h2>
                <h2><span class="label label-success">£2,500</span></h2>
            </div>
            <div class="panel-body sponsorship-panel">
                <ul class="list-group">
                    <li class="list-group-item"><h3><span class="label label-primary">One ticket to the conference (2-4 June) included</span></h3>
                      <ul>
                        <li>claimable until 1/5/23</li>
                      </ul>
                    </li>
                    <li class="list-group-item">A mention at the beginning and end of each conference day</li>
                    <li class="list-group-item">Your logo on the conference website</li>
                    <li class="list-group-item">Mentions on social media channels</li>
                    <li class="list-group-item">Your name in all future emails to participants of the event</li>
                    <li class="list-group-item">Your swag available to everyone at the conference</li>
                    <li class="list-group-item">Support the community: reduce the final ticket price for all attendees</li>
                </ul>
                <p><a href="mailto:sponsorship@socratesuk.org?subject=Sponsorship%20Standard"
                      class="btn btn-primary" role="button">Contact us</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Basic Package (unlimited availability)</h2>
                <h2><span class="label label-success">£1,000</span></h2>
            </div>
            <div class="panel-body sponsorship-panel">
                <ul class="list-group">
                    <li class="list-group-item">Your logo on the conference website</li>
                    <li class="list-group-item">Mentions on social media channels</li>
                    <li class="list-group-item">Your name in all future emails to participants of the event</li>
                    <li class="list-group-item">Your swag available to everyone at the conference</li>
                    <li class="list-group-item">Support the community: reduce the final ticket price for all attendees</li>
                </ul>
                <p><a href="mailto:sponsorship@socratesuk.org?subject=Sponsorship%20Basic" class="btn btn-primary"
                      role="button">Contact us</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row sponsorship">
    <div class="col-sm-3 col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Diversity Ticket (unlimited availability)</h2>
                <h2><span class="label label-success">£725 + travel costs</span></h2>
            </div>
            <div class="panel-body sponsorship-panel">
                <ul class="list-group">
                    <li class="list-group-item">Sponsor the full single ticket and travel costs for one person
                        <ul>
                          <li>we will find someone who needs this to attend and award them with this grant</li>
                        </ul>
					          </li>
                    <li class="list-group-item">Your logo on the conference website</li>
                    <li class="list-group-item">Mentions on social media channels</li>
                    <li class="list-group-item">Your name in all future emails to participants of the event</li>
                    <li class="list-group-item">Your swag available to everyone at the conference</li>
                </ul>
                <p><a href="mailto:sponsorship@socratesuk.org?subject=Sponsorship%20Full%20Diversity%20Ticket"
                      class="btn btn-primary" role="button">Contact us</a></p>
            </div>
        </div>
    </div>
</div>
