<br>
<div class="row sponsorship">
    <div class="col-sm-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Premium Package</h2>
                <h3> (limited to 1 only)</h3>
                <h3><span class="label label-success">£10,000</span></h3>
            </div>
            <div class="panel-body sponsorship-panel">
                <ul class="list-group">
                    <li class="list-group-item"><h5><span class="label label-primary">Exclusive Sponsor's Corner</span></h5>
                      <ul>
                        <li>you’ll have the sponsor’s corner from the evening of Sept 19th until midday Sept 22nd</li>
                        <li>a space with your banner to advertise your company</li>
                        <li>option to staff the space for recruiting purposes (using included tickets) </li>
                      </ul>
                    </li>
                    <li class="list-group-item"><h5><span class="label label-primary">Two tickets to the conference (19-22 Sept) included</span></h5>
                      <ul>
                        <li>claimable until 15/8/24</li>
                      </ul>
                    </li>
                    <li class="list-group-item">Banner in the main room</li>
                    <li class="list-group-item">A MEGA-mention at the beginning and end of each conference day</li>
                    <li class="list-group-item">Your logo on the conference website</li>
                    <li class="list-group-item">Mentions on social media channels</li>
                    <li class="list-group-item">Your name in all future emails to participants of the event</li>
                    <li class="list-group-item">Your swag available to everyone at the conference</li>
                    <li class="list-group-item">Support the community: reduce the final ticket price for all attendees</li>
                </ul>
                <p><a href="mailto:sponsorship@socratesuk.org?subject=Sponsorship%20Premium"
                      class="btn btn-primary" role="button">Contact us</a></p>
            </div>
          </div>
      </div>
      <div class="col-sm-3 col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Training Day Package</h2>
                <h3>(limited to 1 only)</h3>
                <h3><span class="label label-success">£5,000</span></h3>
            </div>
            <div class="panel-body sponsorship-panel">
                <ul class="list-group">
                    <li class="list-group-item"><h5><span class="label label-primary">Exclusive Sponsor's Corner</span></h5>
                      <ul>
                        <li>you’ll have the sponsor’s corner from the evening of Sept 18th until the evening of Sept 19th</li>
                        <li>a space with your banner to advertise your company</li>
                        <li>option to staff the space for recruiting purposes (using included tickets) </li>
                      </ul>
                    </li>
                    <li class="list-group-item"><h5><span class="label label-primary">Two tickets to the training day (19th Sept) included</span></h5>
                      <ul>
                        <li>claimable until 15/8/24</li>
                      </ul>
                    </li>
                    <li class="list-group-item">Banner in both training rooms</li>
                    <li class="list-group-item">A MEGA-mention at the beginning and end of the training day and each conference day</li>
                    <li class="list-group-item">Your logo on the conference website</li>
                    <li class="list-group-item">Mentions on social media channels</li>
                    <li class="list-group-item">Your name in all future emails to participants of the event</li>
                    <li class="list-group-item">Your swag available to everyone at the conference</li>
                    <li class="list-group-item">Support the community: reduce the final ticket price for all attendees</li>
                </ul>
                <p><a href="mailto:sponsorship@socratesuk.org?subject=Sponsorship%20TrainingDay"
                      class="btn btn-primary" role="button">Contact us</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Standard Package</h2>
                <h3>(unlimited availability)</h3>
                <h3><span class="label label-success">£2,500</span></h3>
            </div>
            <div class="panel-body sponsorship-panel">
                <ul class="list-group">
                    <li class="list-group-item"><h5><span class="label label-primary">One ticket to the conference (19-22 Sept) included</span></h5>
                      <ul>
                        <li>claimable until 15/8/24</li>
                      </ul>
                    </li>
                    <li class="list-group-item">A mention at the beginning and end of each conference day</li>
                    <li class="list-group-item">Your logo on the conference website</li>
                    <li class="list-group-item">Mentions on social media channels</li>
                    <li class="list-group-item">Your name in all future emails to participants of the event</li>
                    <li class="list-group-item">Your swag available to everyone at the conference</li>
                    <li class="list-group-item">Support the community: reduce the final ticket price for all attendees</li>
                </ul>
                <p><a href="mailto:sponsorship@socratesuk.org?subject=Sponsorship%20Standard"
                      class="btn btn-primary" role="button">Contact us</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Basic Package</h2>
                <h3>(unlimited availability)</h3>
                <h3><span class="label label-success">£1,000</span></h3>
            </div>
            <div class="panel-body sponsorship-panel">
                <ul class="list-group">
                    <li class="list-group-item">Your logo on the conference website</li>
                    <li class="list-group-item">Mentions on social media channels</li>
                    <li class="list-group-item">Your name in all future emails to participants of the event</li>
                    <li class="list-group-item">Your swag available to everyone at the conference</li>
                    <li class="list-group-item">Support the community: reduce the final ticket price for all attendees</li>
                </ul>
                <p><a href="mailto:sponsorship@socratesuk.org?subject=Sponsorship%20Basic" class="btn btn-primary"
                      role="button">Contact us</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row sponsorship">
    <div class="col-sm-3 col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Diversity Ticket</h2>
                <h3>(unlimited availability)</h3>
                <h3><span class="label label-success">£725 + travel costs</span></h3>
            </div>
            <div class="panel-body sponsorship-panel">
                <ul class="list-group">
                    <li class="list-group-item">Sponsor the full single ticket and travel costs for one person
                        <ul>
                          <li>we will find someone who needs this to attend and award them with this grant</li>
                        </ul>
					          </li>
                    <li class="list-group-item">Your logo on the conference website</li>
                    <li class="list-group-item">Mentions on social media channels</li>
                    <li class="list-group-item">Your name in all future emails to participants of the event</li>
                    <li class="list-group-item">Your swag available to everyone at the conference</li>
                </ul>
                <p><a href="mailto:sponsorship@socratesuk.org?subject=Sponsorship%20Full%20Diversity%20Ticket"
                      class="btn btn-primary" role="button">Contact us</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2>Multiplicity</h2>
                <h3>(unlimited availability)</h3>
                <h3><span class="label label-success">Bring two other people with you</span></h3>
            </div>
            <div class="panel-body sponsorship-panel">
                <ul class="list-group">
                    <li class="list-group-item">Come with 2 other people who have never been to SoCraTes UK and get a mention of your choice on the sponsors page
                        <ul>
                          <li>These could be 2 colleagues and you could get your company amongst the sponsors</li>
                        </ul>
					</li>
                    <li class="list-group-item">Claimable until 30/6/24</li>
                    <li class="list-group-item">Your chosen mention on the conference website</li>
                    <li class="list-group-item">Mentions on social media channels</li>
                    <li class="list-group-item">Your mention in all future emails to participants of the event</li>
                    <li class="list-group-item">Your swag available to everyone at the conference</li>
                </ul>
                <p><a href="mailto:sponsorship@socratesuk.org?subject=Sponsorship%20Multiplicity"
                      class="btn btn-primary" role="button">Contact us</a></p>
            </div>
        </div>
    </div>
</div>
