body {
    padding-top: 100px;
    margin-bottom: 60px;
}

.navbar-default .navbar-brand {
	color: white;

	font-family: 'PT Serif Caption', cursive;
}

.navbar-nav li a {
 	line-height: 29px;
}

.organisers-aside {
		margin: 75px 0px;
}

.jumbotron .socrates-brand {
	font-family: 'PT Serif Caption', serif;
}

.jumbotron .socrates-logo {
	max-height: 250px;
  margin: auto;
}

.conference-photogrid, .conference-location-images {
	margin: 30px 0;
	padding: 0px 10px;
}

.register-button {
	margin-top: 30px;
}

.location-map {
	padding-right: 20px;
}

.accomodation-warning {
	margin: 30px;
}

.logo img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 150px;
}
