/** Front Page **/

.front-page-row {
	padding-top: 6rem;
	padding-bottom: 6rem;
	position: relative;
}

.front-page-row .display-3 {
	margin-bottom: 2rem;
}

.overlay-box {
	padding: 2rem;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 1rem;
}

.background-photo-credit {
	color: #ffffff;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0.5em;
}

.background-photo-credit a {
	color: #ffffff;
	text-decoration: underline;
}

/** header **/

.front-page-header {
	margin-top: 50px;
	background-image: url("../../img/alexandra/uk-rolling-hills.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #ffffff;
}

.front-page-header h1,
.front-page-header h3,
.front-page-header h4 {
	text-shadow: 3px 3px black;
}

.front-page-header .socrates-brand {
	font-family: 'PT Serif Caption', serif;
}

.front-page-header .socrates-logo {
	max-height: 300px;
	margin: auto;
}

/** announcement **/

.front-page-announcement {
	background-color: lightgrey;
}

/** what happens **/

.front-page-what-happens {
	background-color: lightgrey;
}

/** sponsors **/

.sponsor-company-logo {
	width: 250px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
	background-position: center;
    margin-left: auto;
	margin-right: auto;
}

/** location **/

.front-page-location {
	margin-top: 50px;
	background-image: url("../../img/alexandra/alexandra-courtyard.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #000000;
}

/** tickets **/

.front-page-tickets input {
	text-align: center;
}

/** social **/

.front-page-social {
	background-color: #666666;
	color: #ffffff;
}

.front-page-social a,
.front-page-social a:visited {
	color: #ffffff;
	text-decoration: underline;
	font-weight: bold;
}

.front-page-social a:hover {
	color: #ffff00;
}

.bg-twitter {
	background-color: #1da1f2;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.bg-slack {
	background-color: #4a154b;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.bg-newsletter {
	background-color: #d40000;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.bg-newsletter input {
	text-align: center;
	margin-bottom: 5px;
}

.bg-mastodon {
	background-color: #CD853F;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.email-logo {
	font-size: 100px;
}

.twitter-logo,
.slack-logo,
.mastodon-logo {
	height: 100px;
	width: auto;
	vertical-align: bottom;
}

.twitter-hashtag,
.slack-channel,
.mastodon-hashtag {
	font-size: 2rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/** partner events **/

.front-page-partner-events a {
	color: #df5453;
}

.crafters-logo {
	width: 275px;
	height: auto;
}

/** Page **/

.page-header {
	margin-top: 50px;
	background-image: url("../../img/alexandra/uk-rolling-hills.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #ffffff;
	margin-bottom: 2rem;
}


.page-header h1,
.page-header h3,
.page-header h4 {
	text-shadow: 3px 3px black;
}

.page-header .socrates-brand {
	font-family: 'PT Serif Caption', serif;
}

.page-header .socrates-logo {
	max-height: 250px;
	margin: auto;
}

/** Misc. **/

.page-footer {
    background-color: #eee;
    padding-bottom: 1em;
}

.conference-photogrid, .conference-location-images {
	margin: 30px 0;
	padding: 0px 10px;
}

.register-button {
	margin-top: 30px;
}

.location-map {
	padding-right: 20px;
}

.accomodation-warning {
	margin: 30px;
}

.logo img {
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 150px;
    margin-bottom: 30px;
}

.grid-title {
	background-color: navy;
	color: white;
	font-style: bold;
}

.grid-line {
	margin-top: 5px;
}

.newsletter label {
	font-size: 16px;
}

.sponsorship h2, h3 {
	margin-top: 5px;
}

.sponsorship > tbody > tr > td {
	text-align: center;
	vertical-align: middle;
}
.sponsorship > thead > tr > th {
	width: 25%;
	text-align: center;
	vertical-align: middle;
}

.sponsorship-panel {
	min-height: 565px;
}

.sponsorship-panel > ul.list-group {
	margin-bottom: 5px;
}
