<div class="container">
<h2 class="display-3 text-center">Resuming in-person 2023</h2>
<p>Dear Software Crafters,</p>

<p>We are happy to announce that we are returning to an in-person event for 2023.</p>
<p>COVID-19 rates across Europe are still high. We want to keep attendees safe, while at the same time allowing for as much familiarity and community spirit as is possible.</p>
<p>We will monitor the situation in the UK and across Europe closely, and will make our mask and vaccination policy clear by 1st March 2023. At a minimum, our policy will meet the legal requirements in force in the UK at the time of the conference.</p>
<p>Regardless of whether we decide that mask wearing will be required at the conference, we commit to supporting the decision of anyone who wishes to wear a mask.</p>

<p>So what next?</p>

<p>We are now preparing for SoCraTes UK {{ site.event_details.year }} on {{ site.event_details.date }}! Keep subscribed to the newsletter (scroll down) and watch our <a href="contact.html">Twitter feed</a> for updates or help us organise on <a href="contact.hmtl">Slack</a>.</p>
<p>Any thoughts or questions, just drop us <a href="contact.html">an email</a>.</p>

</div>
