<div class="container">
<h2 class="display-3 text-center">Transformation of SoCraTes UK 2020</h2>
<p>Dear Software Crafters,</p>

<p>We regret to announce that in light of the current COVID-19 situation, we decided in March to <strong>cancel the in-person SoCraTes UK 2020 event in June</strong>.

<p>This was not an easy thing to do, we are very sad that this was the decision we had to take. We unanimously agreed that it was the right call. If we had made any other decision then we would not have been able to give any certainty to the people who were interested in attending until it was too late. More importantly, we do not want to put anyone at unnecessary risk, or, exclude people who want to attend but might not be able to due to health reasons. We all must do what we can to help the efforts to slow the spread of the virus.</p>

<p>Everyone who has paid a deposit for a ticket has been refunded via Eventbrite.</p>

<p>So what next?</p>

<p>We have organised SoCraTes UK Digital Spring 2020 in May, and are now holding <a href="digital-2020-summer.html">SoCraTes UK Digital Summer</a> on the 1st August! Our <i>Digital</i> series are online open space events and aim to provide a bit of that magic that we were all looking forward to. Keep subscribed to the newsletter and watch our Twitter feed for updates or help us organise on Slack.</p>

<p>Any thoughts or questions, just drop us an email.</p>

<p>Your organisers<br>
Juke, Tom, Ian, Jakob, Nick, Sharath, Tania, Amélie
</p>
</div>
