<div class="container">
<h2 class="display-3 text-center">Transformation of SoCraTes UK 2020/21</h2>
<p>Dear Software Crafters,</p>

<p>In light of the continuing COVID-19 situation, we are running a series of <i>Digital</i> edition: 1-day online events throughout the year instead of the in-person SoCraTes UK events in June. We aim to provide a bit of that magic that we were all looking forward to.</p>

<p>We have now organised more than a year-round of SoCraTes UK Digital:
<ul>
<li> <a href="digital-2020-spring.html">Spring</a> 2020 in May, </li>
<li> Summer in August, </li>
<li> <a href="digital-2020-autumn.html">Autumn</a> in November, </li>
<li> Winter 2021 in February, </li>
<li> Spring/Summer in June.</li>
</ul>

<p>So what next?</p>

We are now preparing for <a href="digital-2021-autumn.html">SoCraTes UK 2021 Digital Autumn</a> on {{ site.event_details.date }}! Keep subscribed to the newsletter (scroll down) and watch our <a href="contact.html">Twitter feed</a> for updates or help us organise on <a href="contact.hmtl">Slack</a>.</p>
<p>Any thoughts or questions, just drop us <a href="contact.html">an email</a>.</p>

</p>
</div>
