<h3 >Sponsors</h3>
<a href="http://skillsmatter.com/" target="_blank"><img class="logo" src="img/logo-skillsmatter.gif"></a>
<a href="http://www.unrulymedia.com/" target="_blank"><img class="logo" src="img/logo-unruly.png"></a>
<p>Interested in sponsoring us? <a href="mailto:info@socratesuk.org">Get in touch.</a></p>


<h4>Organisation</h4>
<a href="http://www.londonswcraft.com/" target="_blank"><img src="img/LSCC_small.png" height="207" width="280"></a>
</br>
<a href="http://londonswcraft.com" target="_blank">London Software Craftsmanship Community</a></p>
