<aside>
    <section class="organisers-aside">
        <h3 class="page-header">Organisers</h3>
        <p>SoCraTes UK is organised by a group of volunteers from the Software Crafters Community.</p>
    </section>
    <section>
        <h3 class="page-header">2019 Sponsors</h3>
        <div id="sponsors">
            {% for sponsor in site.sponsors %}

                <div class="sponsor logo">
                    <a href="{{ sponsor.url }}">
                        <img class="img-responsive" src="img/sponsors_2019/{{ sponsor.logo }}" alt="{{ sponsor.name }}"/>
                    </a>
                </div>
            {% endfor %}
        </div>
        <em>Interested in sponsoring this year's event? </em><a href="/sponsorship.html">See the sponsorship page</a>.
    </section>
</aside>
