<aside>
    <section class="organisers-aside">
        <h3 class="page-header">Organisers</h3>
        <p><a href="http://codurance.com" target="_blank"><img class="img-responsive" src="img/sponsors_2014/codurance.png"></a></p>
    </section>
    <section>
        <h3 class="page-header">Sponsors</h3>
        <div id="sponsors">
            {% for sponsor in site.sponsors %}

                <div class="sponsor logo">
                    <a href="{{ sponsor.url }}">
                        <img class="img-responsive" src="img/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}"/>
                    </a>
                </div>
            {% endfor %}
        </div>
        <em>Interested in sponsoring this year's event? </em><a href="mailto:socratesuk@codurance.com">Get in touch.</a>
    </section>
    <section class="hosting-aside">
        <h3 class="page-header">Domain Hosting</h3>
        <p>SoCraTes UK would like to thank Codurance for supplying and maintaining our domain name.</p>
        <p><a href="http://codurance.com" target="_blank"><img class="img-responsive" src="img/sponsors_2014/codurance.png"></a></p>
    </section>
    <section class="twitter-feed-aside">
        <h3 class="page-header">Latest Tweets</h3>
        <a class="twitter-timeline" href="https://twitter.com/SoCraTes_UK" data-widget-id="560047504235192320">Tweets by @SoCraTes_UK</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </section>
</aside>
