<footer class="page-footer">
    <div class="container text-center">
        <a class="nav-link" href="privacy.html">Privacy policy</a>
        <div class="container text-left">
            <p>
                SOFTWARE CRAFT AND TESTING UK CIC t/a SoCraTes UK.
                </br>
                Registered office: Union House, 111 New Union Street, Coventry, CV1 2NT. Registered in England and Wales.
                </br>
                Registered number: 12132239.
                </br>
                Company type: Community Interest Company. Private company limited by guarantee without share capital.
            </p>
        </div>
    </div>
</footer>
