<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SoCraTes UK{% if page.title %} - {{ page.title }}{% endif %}</title>

    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom/base.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- MailerLite Universal -->
    <script>
        (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
        .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
        n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
        (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
        ml('account', '848702');
    </script>
    <!-- End MailerLite Universal -->
</head>
