<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SoCraTes UK{% if page.title %} - {{ page.title }}{% endif %}</title>

    <meta name="description" content="SoCraTes UK is a non-profit, international Software Crafters unconference and retreat for open-minded crafters who want to improve their craft and the software industry as a whole.">

    <!-- Open Graph -->
    <meta property="og:title" content="SoCraTes UK{% if page.title %} - {{ page.title }}{% endif %}">
    <meta property="og:description" content="SoCraTes UK is a non-profit, international Software Crafters unconference and retreat for open-minded crafters who want to improve their craft and the software industry as a whole.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://socratesuk.org{{ page.url }}">
    <meta property="og:image" content="https://socratesuk.org/img/SoCraTes_UK_circle.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="SoCraTes UK{% if page.title %} - {{ page.title }}{% endif %}">
    <meta name="twitter:description" content="SoCraTes UK is a non-profit, international Software Crafters unconference and retreat for open-minded crafters who want to improve their craft and the software industry as a whole.">
    <meta name="twitter:image" content="https://socratesuk.org/img/SoCraTes_UK_circle.png">

    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom/base.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- MailerLite Universal -->
    <script>
        (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
        .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
        n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
        (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
        ml('account', '848702');
    </script>
    <!-- End MailerLite Universal -->
</head>
