<div class="container text-center">
    <h2 class="display-3">What is SoCraTes?</h2>

    <p class="lead">SoCraTes UK is a non-profit, <strong></strong>international Software Crafters retreat</strong> for open-minded
        crafters who want to improve their craft and the software industry as a whole. Organised by a group of
        volunteers from the <a href="https://www.softwarecrafters.org/" target="_blank">Software Crafters Community</a>, the conference attracts thought leaders and
        software crafters from all over the world.</p>

    <p class="lead">SoCraTes UK is totally community-focused. It's a great opportunity to speak to and code with many curious and talented people in a very relaxed and beautiful setting.</p>
</div>