<div class="container overlay-box">
    <h2 class="display-3 text-center">Where is it taking place?</h2>

    <div class="row">
        <div class="col-md-5">
            <p>The retreat will be hosted at <a href="https://www.swindonalexandrahouse.co.uk" target="_blank">Alexandra House</a>,
                which is surrounded by 2 acres of landscaped grounds and forest, delivering tranquil setting and
                backdrop for SoCraTes UK {{ site.event_details.year }}.</p>


            <address>
                Alexandra House<br>
                Whittingham Dr<br>
                Wroughton<br>
                Swindon<br>
                SN4 0QJ
                England, United Kingdom
                T: +44 (0) 1793 819 000
            </address>
            <p>You can find all information about the location <a href="/location.html">here</a>.</p>
        </div>
        <div class="col-md-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.040123482437!2d-1.7747541838467882!3d51.51247987963599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487144d80350b131%3A0x430f7948ce834367!2sAlexandra%20House!5e0!3m2!1sen!2suk!4v1671110765635!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

<div class="background-photo-credit text-center">
    Photo by <a href="https://www.swindonalexandrahouse.co.uk/gallery" target="_blank">Alexandra House</a>
</div>
