<div class="container overlay-box">
    <h2 class="display-3 text-center">Where is it taking place?</h2>

    <div class="row">
        <div class="col-md-5">
            <p>The retreat will be hosted at <a href="https://wottonhouse.co.uk/" target="_blank">Wotton House</a>,
                which is surrounded by 13 acres of beautifully landscaped grounds, delivering tranquil setting and
                backdrop for SoCraTes UK {{ site.event_details.year }}.</p>


            <address>
                Wotton House<br>
                Guildford Road<br>
                Dorking<br>
                Surrey, RH5 6HS<br>
                England, United Kingdom<br>
                T: +44 (0) 1306 730 000
            </address>
            <p>You can find all information about the location <a href="/location.html">here</a>.</p>
        </div>
        <div class="col-md-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29484.891637648976!2d-0.43674253513912725!3d51.201408196088465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875dd7257ade979%3A0x9b7aa884271af6b5!2sWotton%20House!5e0!3m2!1sen!2suk!4v1576679949208!5m2!1sen!2suk" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</div>