<div class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <a class="navbar-brand" href="index.html">SoCraTes UK 2015</a>
        </div>

        <div class="collapse navbar-collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li {% if page.title == 'Home' %} class="active"{% endif %}><a href="index.html">Home</a></li>
            <li {% if page.title == 'Details' %} class="active"{% endif %}><a href="details.html">Details</a></li>
            <li><a href="http://github.com/lscc/socrates-uk/wiki" target="_blank">Wiki</a></li>
            <li {% if page.title == 'Sponsorship' %} class="active"{% endif %}><a href="sponsorship.html">Sponsorship</a></li>
            <li {% if page.title == 'Contact' %} class="active"{% endif %}><a href="contact.html">Contact</a></li>
          </ul>
        </div>
    </div>
</div>
