<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html">
        <span><img alt="Brand" src="/favicon.ico"></span> SoCraTes UK {{ site.event_details.year }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li {% if page.title == 'Home' %} class="nav-item active"{% endif %}><a class="nav-link" href="index.html">Home</a></li>
        <li {% if page.title == 'Code Of Conduct' %} class="nav-item active"{% endif %}><a class="nav-link" href="code_of_conduct.html">Code Of Conduct</a></li>
        <li {% if page.title == 'Tickets' %} class="nav-item active"{% endif %}><a class="nav-link" href="tickets.html">Tickets</a></li>
        <li {% if page.title == 'Location' %} class="nav-item active"{% endif %}><a class="nav-link" href="location.html">Location</a></li>
        <li {% if page.title == 'Sponsorship' %} class="nav-item active"{% endif %}><a class="nav-link" href="sponsorship.html">Sponsorship</a></li>
        <li><a class="nav-link" href="http://github.com/lscc/socrates-uk/wiki" target="_blank">Wiki</a></li>
        <li {% if page.title == 'Contact' %} class="nav-item active"{% endif %}><a class="nav-link" href="contact.html">Contact</a></li>
      </ul>
    </div>
</div>
