<div class="jumbotron newsletter">
    <h3>SoCraTes UK 2019</h3>

    <p>We are working hard to finalised the details of SoCraTes UK 2019.</p>

    <p><em>More information to follow soon. Please sign up to the newsletter using the form below
            to get updated as soon as any new details are announced.</em></p>

    <form action="https://tinyletter.com/socratesuk" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/socratesuk', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <label for="tlemail" class="form-label form-label-lg">Email Address</label>

                <div class="row">
                    <div class="col-sm-9">
                        <input type="text" placeholder="Your Email Address" class="form-control form-control-lg" name="email" id="tlemail" />
                        <small class="form-text text-muted"><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></small>
                    </div>
                    <div class="col-sm-3">                
                        <input type="hidden" value="1" name="embed" />
                        <input type="submit" class="btn btn-primary" value="Subscribe" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
