<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="socrates-logo" src="img/SoCraTes_UK_circle.png" alt="SoCraTes UK Logo">
            </div>
            <div class="col-md-9">
                <h1 class="socrates-brand display-3">SoCraTes UK {{ site.event_details.year }}</h1>
                <h3 class="display-5">International Software Craft and Testing Unconference UK</h3>
                <h4 class="display-5">{{ site.event_details.date }} | {{ site.event_details.location }}</h4><br>
            </div>
        </div>

        <div class="background-photo-credit text-center">
            Photo by <a href="https://unsplash.com/@leadwolf?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Wolfgang Bonness</a>
            on <a href="https://unsplash.com/collections/306481/rolling-hills?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Unsplash</a>
        </div>
    </div>
</header>
