<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="socrates-logo" src="img/SoCraTes_UK_circle.png" alt="SoCraTes UK Logo">
            </div>
            <div class="col-md-9">
                <h1 class="socrates-brand display-3">SoCraTes UK {{ site.event_details.year }}</h1>
                <h3 class="display-5">International Software Craft and Testing Unconference UK</h3>
                <h4 class="display-5">{{ site.event_details.date }} | Wotton House, Guildford Road, Dorking, Surrey, England, UK</h4><br>
            </div>
        </div>

        <div class="background-photo-credit text-center">Photo by <a href="https://twitter.com/EskoLuontola" target="_blank">Esko Luontola</a></div>
    </div>
</header>
