<p><span style="font-weight: 400;">This privacy policy applies between you, the User of this Website and SOFTWARE CRAFT AND TESTING UK CIC t/a SoCraTes UK, the owner and provider of this Website. SOFTWARE CRAFT AND TESTING UK CIC t/a SoCraTes UK takes the privacy of your information very seriously. This privacy policy applies to our use of any and all Data collected by us or provided by you in relation to your use of the Website.</span></p>
<p><strong>Please read this privacy policy carefully</strong><span style="font-weight: 400;">.</span></p>
<p><strong>Definitions and interpretation</strong></p>
<p><span style="font-weight: 400;">1. In this privacy policy, the following definitions are used:</span></p>
<table>
<tbody>
<tr>
<td>
<p><strong>Data</strong></p>
</td>
<td>
<p><span style="font-weight: 400;">collectively all information that you submit to SOFTWARE CRAFT AND TESTING UK CIC t/a SoCraTes UK via the Website. This definition incorporates, where applicable, the definitions provided in the Data Protection Laws;</span></p>
</td>
</tr>
<tr>
<td>
<p><strong>Data Protection Laws</strong></p>
</td>
<td>
<p><span style="font-weight: 400;">any applicable law relating to the processing of personal Data, including but not limited to the Directive 96/46/EC (Data Protection Directive) or the GDPR, and any national implementing laws, regulations and secondary legislation, for as long as the GDPR is effective in the UK;</span></p>
</td>
</tr>
<tr>
<td>
<p><strong>GDPR</strong></p>
</td>
<td>
<p><span style="font-weight: 400;">the General Data Protection Regulation (EU) 2016/679;</span></p>
</td>
</tr>
<tr>
<td>
<p><strong>SOFTWARE CRAFT AND TESTING UK CIC t/a SoCraTes UK, we </strong><span style="font-weight: 400;"> or </span><strong>us</strong></p>
</td>
<td>
<p><span style="font-weight: 400;">SOFTWARE CRAFT AND TESTING UK CIC t/a SoCraTes UK, a private company limited by guarantee without share capital incorporated in England and Wales with registered number  12132239 whose registered office is at Union House, 111 New Union Street, Coventry, CV1 2NT;</span></p>
</td>
</tr>
<tr>
<td>
<p><strong>User</strong><span style="font-weight: 400;"> or </span><strong>you</strong></p>
</td>
<td>
<p><span style="font-weight: 400;">any third party that accesses the Website and is not either (i) employed by SOFTWARE CRAFT AND TESTING UK CIC t/a SoCraTes UK and acting in the course of their employment or (ii) engaged as a consultant or otherwise providing services to SOFTWARE CRAFT AND TESTING UK CIC t/a SoCraTes UK and accessing the Website in connection with the provision of such services; and</span></p>
</td>
</tr>
<tr>
<td>
<p><strong>Website</strong></p>
</td>
<td>
<p><span style="font-weight: 400;">the website that you are currently using, socratesuk.org, and any sub-domains of this site unless expressly excluded by their own terms and conditions.</span></p>
</td>
</tr>
</tbody>
</table>
<p><span style="font-weight: 400;">2. In this privacy policy, unless the context requires a different interpretation:</span></p>
<ol style="list-style-type: lower-alpha;">
<li><span style="font-weight: 400;">the singular includes the plural and vice versa;</span></li>
<li><span style="font-weight: 400;">references to sub-clauses, clauses, schedules or appendices are to sub-clauses, clauses, schedules or appendices of this privacy policy;</span></li>
<li><span style="font-weight: 400;">a reference to a person includes firms, companies, government entities, trusts and partnerships;</span></li>
<li><span style="font-weight: 400;">"including" is understood to mean "including without limitation";</span></li>
<li><span style="font-weight: 400;">reference to any statutory provision includes any modification or amendment of it;</span></li>
<li><span style="font-weight: 400;">the headings and sub-headings do not form part of this privacy policy.</span></li>
</ol>
<p><strong>Scope of this privacy policy</strong></p>
<p><span style="font-weight: 400;">3. This privacy policy applies only to the actions of SOFTWARE CRAFT AND TESTING UK CIC t/a SoCraTes UK and Users with respect to this Website. It does not extend to any websites that can be accessed from this Website including, but not limited to, any links we may provide to social media websites.</span></p>
<p><span style="font-weight: 400;">4. For purposes of the applicable Data Protection Laws, SOFTWARE CRAFT AND TESTING UK CIC t/a SoCraTes UK is the "data controller". This means that SOFTWARE CRAFT AND TESTING UK CIC t/a SoCraTes UK determines the purposes for which, and the manner in which, your Data is processed.</span></p>
<p><strong>Data collected</strong></p>
<p><span style="font-weight: 400;">5. We may collect the following Data, which includes personal Data, from you:</span></p>
<ol>
<ol style="list-style-type: lower-alpha;">
<li style="font-weight: 400;"><span style="font-weight: 400;">name;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">contact Information such as email addresses and telephone numbers;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">demographic information such as postcode, preferences and interests;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">financial information such as credit / debit card numbers;</span></li>
</ol>
</ol>
<p><span style="font-weight: 400;">in each case, in accordance with this privacy policy.</span></p>
<p><strong>How we collect Data</strong></p>
<p><span style="font-weight: 400;">6. We collect Data in the following ways:</span></p>
<ol>
<ol style="list-style-type: lower-alpha;">
<li style="font-weight: 400;"><span style="font-weight: 400;">data is given to us by you ; </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">data is received from other sources; and</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">data is collected automatically.</span></li>
</ol>
</ol>
<p><strong>Data that is given to us by you</strong></p>
<p><span style="font-weight: 400;">7. SOFTWARE CRAFT AND TESTING UK CIC t/a SoCraTes UK will collect your Data in a number of ways, for example:</span></p>
<ol>
<ol style="list-style-type: lower-alpha;">
<li style="font-weight: 400;"><span style="font-weight: 400;">when you contact us through the Website, by telephone, post, e-mail or through any other means;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">when you complete surveys that we use for research purposes (although you are not obliged to respond to them);</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">when you enter a competition or promotion through a social media channel;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">when you make payments to us, through this Website or otherwise;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">when you elect to receive marketing communications from us;</span></li>
</ol>
</ol>
<p><span style="font-weight: 400;">in each case, in accordance with this privacy policy.</span></p>
<p><strong>Data that is received from third parties</strong></p>
<p><span style="font-weight: 400;">8. SOFTWARE CRAFT AND TESTING UK CIC t/a SoCraTes UK will receive Data about you from the following third parties:</span></p>
<ol>
<ol style="list-style-type: lower-alpha;">
<li style="font-weight: 400;"><span style="font-weight: 400;">Eventbrite; </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Starling Bank; </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Google.</span></li>
</ol>
</ol>
<p><strong>Data that is received from publicly available third parties sources</strong></p>
<p><span style="font-weight: 400;">9. We will receive Data about you from the following publicly available third party sources:</span></p>
<ol>
<ol style="list-style-type: lower-alpha;">
<li style="font-weight: 400;"><span style="font-weight: 400;">Github; </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Twitter; </span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Slack.</span></li>
</ol>
</ol>
<p><strong>Data that is collected automatically</strong></p>
<p><span style="font-weight: 400;">10. To the extent that you access the Website, we will collect your Data automatically, for example:</span></p>
<ol>
<ol style="list-style-type: lower-alpha;">
<li style="font-weight: 400;"><span style="font-weight: 400;">we automatically collect some information about your visit to the Website. This information helps us to make improvements to Website content and navigation, and includes your IP address, the date, times and frequency with which you access the Website and the way you use and interact with its content.</span></li>
</ol>
</ol>
<p><strong>Our use of Data</strong></p>
<p><span style="font-weight: 400;">11. Any or all of the above Data may be required by us from time to time in order to provide you with the best possible service and experience when using our Website. Specifically, Data may be used by us for the following reasons:</span></p>
<ol>
<ol style="list-style-type: lower-alpha;">
<li style="font-weight: 400;"><span style="font-weight: 400;">internal record keeping;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">improvement of our products / services;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">transmission by email of marketing materials that may be of interest to you;</span></li>
</ol>
</ol>
<p><span style="font-weight: 400;">in each case, in accordance with this privacy policy.</span></p>
<p><span style="font-weight: 400;">12. We may use your Data for the above purposes if we deem it necessary to do so for our legitimate interests. If you are not satisfied with this, you have the right to object in certain circumstances (see the section headed "Your rights" below).</span></p>
<p><span style="font-weight: 400;">13. For the delivery of direct marketing to you via e-mail, we'll need your consent, whether via an opt-in or soft-opt-in:</span></p>
<ol>
<ol style="list-style-type: lower-alpha;">
<li style="font-weight: 400;"><span style="font-weight: 400;">soft opt-in consent is a specific type of consent which applies when you have previously engaged with us (for example, you contact us to ask us for more details about a particular product/service, and we are marketing similar products/services). Under "soft opt-in" consent, we will take your consent as given unless you opt-out.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">for other types of e-marketing, we are required to obtain your explicit consent; that is, you need to take positive and affirmative action when consenting by, for example, checking a tick box that we'll provide.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">if you are not satisfied about our approach to marketing, you have the right to withdraw consent at any time. To find out how to withdraw your consent, see the section headed "Your rights" below.</span></li>
</ol>
</ol>
<p><strong>Who we share Data with</strong></p>
<p><span style="font-weight: 400;">14. We may share your Data with the following groups of people for the following reasons:</span></p>
<ol>
<ol style="list-style-type: lower-alpha;">
<li style="font-weight: 400;"><span style="font-weight: 400;">our employees, agents and/or professional advisors - in order to facilitate the organisation and running of our events;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">third party service providers who provide services to us which require the processing of personal data - so that we can keep any venue hosting our events informed;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">third party payment providers who process payments made over the Website - to enable third party payment providers to process user payments and refunds;</span></li>
</ol>
</ol>
<p><span style="font-weight: 400;">in each case, in accordance with this privacy policy.</span></p>
<p><strong>Keeping Data secure</strong></p>
<p><span style="font-weight: 400;">15. We will use technical and organisational measures to safeguard your Data, for example:</span></p>
<ol>
<ol style="list-style-type: lower-alpha;">
<li style="font-weight: 400;"><span style="font-weight: 400;">access to your account is controlled by a password and a user name that is unique to you.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">we store your Data on secure servers.</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">payment details are encrypted using SSL technology (typically you will see a lock icon or green address bar (or both) in your browser when we use this technology.</span></li>
</ol>
</ol>
<p><span style="font-weight: 400;">16. Technical and organisational measures include measures to deal with any suspected data breach. If you suspect any misuse or loss or unauthorised access to your Data, please let us know immediately by contacting us via this e-mail address: <a href="mailto:privacy@socratesuk.org">privacy@socratesuk.org</a>.</span></p>
<p><span style="font-weight: 400;">17. If you want detailed information from Get Safe Online on how to protect your information and your computers and devices against fraud, identity theft, viruses and many other online problems, please visit www.getsafeonline.org. Get Safe Online is supported by HM Government and leading businesses.</span></p>
<p><strong>Data retention</strong></p>
<p><span style="font-weight: 400;">18. Unless a longer retention period is required or permitted by law, we will only hold your Data on our systems for the period necessary to fulfil the purposes outlined in this privacy policy or until you request that the Data be deleted.</span></p>
<p><span style="font-weight: 400;">19. Even if we delete your Data, it may persist on backup or archival media for legal, tax or regulatory purposes.</span></p>
<p><strong>Your rights</strong></p>
<p><span style="font-weight: 400;">20. You have the following rights in relation to your Data:</span></p>
<ol>
<ol style="list-style-type: lower-alpha;">
<li style="font-weight: 400;"><strong>Right to access</strong><span style="font-weight: 400;"> - the right to request (i) copies of the information we hold about you at any time, or (ii) that we modify, update or delete such information. If we provide you with access to the information we hold about you, we will not charge you for this, unless your request is "manifestly unfounded or excessive." Where we are legally permitted to do so, we may refuse your request. If we refuse your request, we will tell you the reasons why.</span></li>
<li style="font-weight: 400;"><strong>Right to correct</strong><span style="font-weight: 400;"> - the right to have your Data rectified if it is inaccurate or incomplete.</span></li>
<li style="font-weight: 400;"><strong>Right to erase</strong><span style="font-weight: 400;"> - the right to request that we delete or remove your Data from our systems.</span></li>
<li style="font-weight: 400;"><strong>Right to restrict our use of your Data</strong><span style="font-weight: 400;"> - the right to "block" us from using your Data or limit the way in which we can use it.</span></li>
<li style="font-weight: 400;"><strong>Right to data portability</strong><span style="font-weight: 400;"> - the right to request that we move, copy or transfer your Data.</span></li>
<li style="font-weight: 400;"><strong>Right to object</strong><span style="font-weight: 400;"> - the right to object to our use of your Data including where we use it for our legitimate interests.</span></li>
</ol>
</ol>
<p><span style="font-weight: 400;">21. To make enquiries, exercise any of your rights set out above, or withdraw your consent to the processing of your Data (where consent is our legal basis for processing your Data), please contact us via this e-mail address: privacy@socratesuk.org.</span></p>
<p><span style="font-weight: 400;">22. If you are not satisfied with the way a complaint you make in relation to your Data is handled by us, you may be able to refer your complaint to the relevant data protection authority. For the UK, this is the Information Commissioner's Office (ICO). The ICO's contact details can be found on their website at https://ico.org.uk/.</span></p>
<p><span style="font-weight: 400;">23. It is important that the Data we hold about you is accurate and current. Please keep us informed if your Data changes during the period for which we hold it.</span></p>
<p><strong>Transfers outside the European Economic Area</strong></p>
<p><span style="font-weight: 400;">24. Data which we collect from you may be stored and processed in and transferred to countries outside of the European Economic Area (EEA). For example, this could occur if our servers are located in a country outside the EEA or one of our service providers is situated in a country outside the EEA. We also share information with our group companies, some of which are located outside the EEA.</span></p>
<p><span style="font-weight: 400;">25. We will only transfer Data outside the EEA where it is compliant with data protection legislation and the means of transfer provides adequate safeguards in relation to your data, eg by way of data transfer agreement, incorporating the current standard contractual clauses adopted by the European Commission, or by signing up to the EU-US Privacy Shield Framework, in the event that the organisation in receipt of the Data is based in the United States of America.</span></p>
<p><span style="font-weight: 400;">26. To ensure that your Data receives an adequate level of protection, we have put in place appropriate safeguards and procedures with the third parties we share your Data with. This ensures your Data is treated by those third parties in a way that is consistent with the Data Protection Laws.</span></p>
<p><strong>Links to other websites</strong></p>
<p><span style="font-weight: 400;">27. This Website may, from time to time, provide links to other websites. We have no control over such websites and are not responsible for the content of these websites. This privacy policy does not extend to your use of such websites. You are advised to read the privacy policy or statement of other websites prior to using them.</span></p>
<p><strong>Changes of business ownership and control</strong></p>
<p><span style="font-weight: 400;">28. SOFTWARE CRAFT AND TESTING UK CIC t/a SoCraTes UK may, from time to time, expand or reduce our business and this may involve the sale and/or the transfer of control of all or part of SOFTWARE CRAFT AND TESTING UK CIC t/a SoCraTes UK. Data provided by Users will, where it is relevant to any part of our business so transferred, be transferred along with that part and the new owner or newly controlling party will, under the terms of this privacy policy, be permitted to use the Data for the purposes for which it was originally supplied to us.</span></p>
<p><span style="font-weight: 400;">29. We may also disclose Data to a prospective purchaser of our business or any part of it.</span></p>
<p><span style="font-weight: 400;">30. In the above instances, we will take steps with the aim of ensuring your privacy is protected.</span></p>
<p><strong>General</strong></p>
<p><span style="font-weight: 400;">31. You may not transfer any of your rights under this privacy policy to any other person. We may transfer our rights under this privacy policy where we reasonably believe your rights will not be affected.</span></p>
<p><span style="font-weight: 400;">32. If any court or competent authority finds that any provision of this privacy policy (or part of any provision) is invalid, illegal or unenforceable, that provision or part-provision will, to the extent required, be deemed to be deleted, and the validity and enforceability of the other provisions of this privacy policy will not be affected.</span></p>
<p><span style="font-weight: 400;">33. Unless otherwise agreed, no delay, act or omission by a party in exercising any right or remedy will be deemed a waiver of that, or any other, right or remedy.</span></p>
<p><span style="font-weight: 400;">34. This Agreement will be governed by and interpreted according to the law of England and Wales. All disputes arising under the Agreement will be subject to the exclusive jurisdiction of the English and Welsh courts.</span></p>
<p><strong>Changes to this privacy policy</strong></p>
<p><span style="font-weight: 400;">35. SOFTWARE CRAFT AND TESTING UK CIC t/a SoCraTes UK reserves the right to change this privacy policy as we may deem necessary from time to time or as may be required by law. Any changes will be immediately posted on the Website and you are deemed to have accepted the terms of the privacy policy on your first use of the Website following the alterations. You may contact SOFTWARE CRAFT AND TESTING UK CIC t/a SoCraTes UK by email at privacy@socratesuk.org.</span></p>
<p><strong>Attribution</strong></p>
<p><span style="font-weight: 400;">36. This privacy policy was created using a document from </span><a href="https://www.rocketlawyer.com/gb/en/"><span style="font-weight: 400;">Rocket Lawyer</span></a><span style="font-weight: 400;"> (https://www.rocketlawyer.com/gb/en).</span></p>
<p><strong>29 December 2019 </strong></p>
<p><span style="font-weight: 400;"> </span></p>