<div class="container">
    <h2 class="display-3 text-center mb-4">Stay in touch</h2>
    <div class="row">
        <div class="col-md-3 text-center bg-newsletter">
            <div class="email-logo" id="ml-subscribe">@</div>

            <p>If you want to receive updates via email, feel free to subscribe to our newsletter below.</p>
        
            <div class="ml-embedded" data-form="OSdqEL"></div>
            <small>powered by <a href="https://www.mailerlite.com" target="_blank">MailerLite</a></small>
        </div>

        <div class="col-md-3 text-center bg-slack">
            <img class="slack-logo" src="/img/slack-logo.png" alt="Slack Logo">
            <div class="slack-channel">#ev_socratesuk</div>
            <p>SoCraTes UK is organised by a group of volunteers from the Software Crafters Community.</p>
            <p>You can interact with the global community via Slack!</p>
            <p>To join, visit <a href="https://slack.softwarecrafters.org/">slack.softwarecrafters.org</a></p>
        </div>

       <div class="col-md-3 text-center bg-mastodon">
            <img class="mastodon-logo" src="/img/mastodon-logo-purple.svg" alt="Mastodon Logo">
            <div class="mastodon-hashtag">#SoCraTesUK</div>
            <p>Make sure to follow us on <a rel="me" href="https://discuss.systems/@SoCraTes_UK" alt="SoCraTes UK Mastodon account">Mastodon</a>!</p>
       </div>

        <div class="col-md-3 text-center bg-bluesky">
            <img class="bluesky-logo" src="/img/bluesky-logo.svg" alt="Bluesky Logo">
            <div class="bluesky-handle">@socratesuk.bsky.social</div>
            <p>Follow us on <a href="https://bsky.app/profile/socratesuk.bsky.social">Bluesky</a>!</p>
        </div>

        <div class="col-12 bg-linkedin linkedin-banner">
            <svg class="linkedin-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" role="img" aria-label="LinkedIn Logo" fill="#ffffff"><path d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433a2.062 2.062 0 0 1-2.063-2.065 2.064 2.064 0 1 1 2.063 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.225 0z"/></svg>
            <p>Follow us on <a href="https://www.linkedin.com/company/socrates-uk">LinkedIn</a></p>
       </div>
    </div>
</div>
