<div class="container">
    <div class="row">
        <div class="col-md-3 text-center bg-newsletter">
            <div class="email-logo">@</div>

            <p>If you want to receive updates via email, feel free to subscribe to our newsletter below.</p>
        
            <form action="https://tinyletter.com/socratesuk" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/socratesuk', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                <input type="text" placeholder="Email Address" class="form-control form-control-lg" name="email" id="tlemail">
                <input type="hidden" value="1" name="embed">
                <input type="submit" class="btn btn-primary" value="Subscribe">
                <small class="form-text text-muted"><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></small>
            </form>
        </div>

        <div class="col-md-3 text-center bg-slack">
            <img class="twitter-logo" src="/img/slack-logo.png" alt="Slack Logo">
            <div class="slack-channel">#ev_socratesuk</div>
            <p>SoCraTes UK is organised by a group of volunteers from the Software Crafters Community.</p>
            <p>You can interact with the global community via Slack!</p>
            <p>To join, visit <a href="https://slack.softwarecrafters.org/">slack.softwarecrafters.org</a></p>
        </div>

        <div class="col-md-3 text-center bg-twitter">
            <img class="twitter-logo" src="/img/twitter-logo.png" alt="Twitter Logo">
            <div class="twitter-hashtag">#SoCraTesUK</div>
            <p>Make sure to follow us on <a href="https://twitter.com/SoCraTes_UK" alt="SoCraTes UK Twitter account">Twitter</a>!</p>
        </div>

        <div class="col-md-3 bg-twitter">
            <a class="twitter-timeline" href="https://twitter.com/SoCraTes_UK" data-widget-id="560047504235192320">Tweets by @SoCraTes_UK</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</div>
