<div class="container text-center">
    <h2 class="display-3">Our Amazing Sponsors</h3>

    <div class="container text-center mb-5 mt-5 pl-5 pr-5">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <a href="https://www.red-gate.com/"><img
            src="img/sponsors_2023/Redgate-logo.png"
            alt="Redgate Software logo"
            class="img-fluid"></a>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>

    <p class="lead">
        <button class="btn btn-lg btn-warning" onclick="window.location = '/sponsorship.html'">I want to sponsor SoCraTes UK 2023</button>
    </p>

</div> 