<div class="container text-center">
    <h2 class="display-3">Our Amazing Sponsors</h2>

    <div class="container mb-5 mt-5 pl-5 pr-5">
      <div class="row justify-content-center">
        <div class="col-sm-4 mb-5 mb-sm-0">
          <a href="https://cyber-dojo.org/" class="d-block"><img
            src="img/2024/sponsors/cyberdojo-logo.png"
            alt="Cyber Dojo logo"
            class="img-fluid" style="max-height:250px"></a>
        </div>
        <div class="col-sm-4 mb-5 mb-sm-0">
          <a href="https://tdd.cards" class="d-block"><img
            src="img/2026/sponsors/JitterTed-TDDGame.png"
            alt="Logo of Jitter Ted's TTD Game: the words in 3 lines, in red, blue and green, with a mascot's head poking out of the middle D of TDD"
            class="img-fluid" style="max-height:250px"></a>
        </div>
      </div>
    </div>

    <p class="lead">
        <button class="btn btn-lg btn-warning" onclick="window.location = '/sponsorship.html'">I want to sponsor SoCraTes UK {{ site.event_details.year }}</button>
    </p>

</div>

<div class="container text-center">
    <h2 class="display-3">Our Talkative Media Partners</h2>

    <div class="container mb-5 mt-5 pl-5 pr-5">
      <div class="row justify-content-center">
        <div class="col-sm-4 mb-5 mb-sm-0">
          <a href="https://www.codurance.com/" class="d-block">
            <img
                src="img/2024/media-partners/codurance-logo.png"
                alt="Codurance logo"
                class="img-fluid" style="max-height:250px">
          </a>
        </div>
      </div>
    </div>
</div>
