<div class="container text-center">
    <h2 class="display-3">Where can I get a ticket?</h2>

    <p>You can find all information about tickets <a href="/tickets.html">here</a>.</p>

    {% include ticket-provider.html %}

    <p class="mt-5">The cost to attend is £600, which includes your accommodation and meals from Thursday diner til Sunday lunch.</p>
    <p>For those who wish to participate in the <a href="/training_day.html">training day</a> on Thursday, an additional fee of £350 applies.</p>
    <p>If you would like to arrive at the venue on Wednesday, the day before the event starts, you can pay an extra £110 for your Wednesday night accommodation, dinner, and breakfast.</p>
    <p>We are constantly searching for sponsorships that could lower the cost of tickets. If successful, we will distribute the savings evenly among all attendees by issuing a refund for the difference as soon as we get the sponsor(s) confirmed. We'd love suggestions, here are our <a href="/sponsorship.html">packages</a> and how to <a href="/contact.html">get in touch</a>.</p>

</div>
