<div class="container text-center">
    <h2 class="display-3">Where can I get a ticket?</h2>

    <p>You can find all information about tickets <a href="/tickets.html">here</a>.</p>

    <p>⚠️ The UK introduced in 2025 an Electronic Travel Authorisation (ETA) that applies, amongst other people, to EU citizens.  <br />
   Check <a href="https://www.gov.uk/guidance/apply-for-an-electronic-travel-authorisation-eta">the guidance</a>. We've also made a <a href="https://github.com/SoCraTesUK/socrates-uk/wiki/Entering-the-UK-%E2%80%90-ETA">wiki page</a> to share experiences applying.</p>

    {% include ticket-provider.html %}

    <p class="mt-5">The cost to attend is £TBC, which includes your accommodation and meals from Thursday diner til Sunday lunch.</p>

    <p>We are constantly searching for sponsorships that could lower the cost of tickets. If successful, we will distribute the savings evenly among all attendees by issuing a refund for the difference as soon as we get the sponsor(s) confirmed. We'd love suggestions, here are our <a href="/sponsorship.html">packages</a> and how to <a href="/contact.html">get in touch</a>.</p>

</div>
