<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="row grid-line">
				<div class="col-sm-12 grid-title">Thursday</div>
			</div>	
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="row grid-line">
				<div class="col-sm-4">17:00 - 18:30</div>
				<div class="col-sm-8">Welcome</div>
			</div>	
			<div class="row grid-line">
				<div class="col-sm-4">19:00 - 21:00</div>
				<div class="col-sm-8">Dinner</div>
			</div>	
			<div class="row grid-line">
				<div class="col-sm-4">21:00</div>
				<div class="col-sm-8">Evening activities</div>
			</div>	
		</div>
	</div>
	<div class="row grid-line">
		<div class="col-sm-4">
			<div class="row grid-line">
				<div class="col-sm-12 grid-title">Friday / Saturday</div>
			</div>	
			<div class="row grid-line">
				<div class="col-sm-4">07:00 - 08:50</div>
				<div class="col-sm-8">Breakfast</div>
			</div>	
			<div class="row grid-line">
				<div class="col-sm-4"><strong>09:00 - 09:50</strong></div>
				<div class="col-sm-8"><strong>Marketplace</strong></div>
			</div>	
			<div class="row grid-line">
				<div class="col-sm-4">10:00 - 10:50</div>
				<div class="col-sm-8">Session 1</div>
			</div>	
			<div class="row grid-line">
				<div class="col-sm-4">11:00 - 11:50</div>
				<div class="col-sm-8">Session 2</div>
			</div>	
			<div class="row grid-line">
				<div class="col-sm-4">12:00 - 12:50</div>
				<div class="col-sm-8">Session 3</div>
			</div>	
			<div class="row grid-line">
				<div class="col-sm-4"><strong>13:00 - 14:30</strong></div>
				<div class="col-sm-8"><strong>Lunch</strong></div>
			</div>	
			<div class="row grid-line">
				<div class="col-sm-4">14:30 - 15:20</div>
				<div class="col-sm-8">Session 4</div>
			</div>	
			<div class="row grid-line">
				<div class="col-sm-4">15:30 - 16:20</div>
				<div class="col-sm-8">Session 5</div>
			</div>	
			<div class="row grid-line">
				<div class="col-sm-4">16:30 - 17:20</div>
				<div class="col-sm-8">Session 6</div>
			</div>	
			<div class="row grid-line">
				<div class="col-sm-4">17:30 - 18:10</div>
				<div class="col-sm-8">Retrospective</div>
			</div>	
			<div class="row grid-line">
				<div class="col-sm-4"><strong>19:00 - 21:00</strong></div>
				<div class="col-sm-8"><strong>Dinner</strong></div>
			</div>	
			<div class="row grid-line">
				<div class="col-sm-4">21:00</div>
				<div class="col-sm-8">Evening activities</div>
			</div>	
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="row grid-line">
				<div class="col-sm-12 grid-title">Sunday</div>
			</div>	
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="row grid-line">
				<div class="col-sm-4">07:00 - 09:00</div>
				<div class="col-sm-8">Breakfast</div>
			</div>	
			<div class="row grid-line">
				<div class="col-sm-4">09:00 - 12:00</div>
				<div class="col-sm-8">Morning activities</div>
			</div>	
			<div class="row grid-line">
				<div class="col-sm-4">12:00 - 14:00</div>
				<div class="col-sm-8">Lunch</div>
			</div>	
		</div>
	</div>
</div>
