<div class="jumbotron newsletter">
    <h3>We are busy organising the 2020 SoCraTes UK event</h3>
    <p>
      If you want to be
      updated when dates are confirmed and tickets are released, then please
      sign up to the newsletter below.
    </p>

    <form action="https://tinyletter.com/socratesuk" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/socratesuk', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <div class="form-group row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-9">
                        <input type="text" placeholder="Email Address" class="form-control form-control-lg" name="email" id="tlemail" />
                        <small class="form-text text-muted"><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></small>
                    </div>
                    <div class="col-sm-3">                
                        <input type="hidden" value="1" name="embed" />
                        <input type="submit" class="btn btn-primary" value="Subscribe" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
