<div class="container">
    <h2 class="display-3 text-center">What happens at SoCraTes?</h2>

    <div class="row">
        <p>The gathering runs over the course of a weekend from Thursday afternoon to Sunday morning.</p>

        <p>We'll kick off Thursday evening with introductions, then we'll run a <strong>group discussion</strong>, talking about an issue
            relevant to all of us. After that, we'll have dinner together to either continue the conversation or talk about
            whatever you want.</p>

        <p>On Friday and Saturday, we'll run an <strong>open space</strong>, in which every attendee is welcome and encouraged to propose
            talks, discussions, workshops or whatever else they choose to further every attendee's knowledge and
            understanding of creating and maintaining software.</p>

        <p>On Friday and Saturday evenings, attendees are encouraged to run social activities, from pair-programming to
            board games and everything in between.</p>

        <p>On <strong>Sunday</strong>, weather allowing, we will have a nice long walk around the beautiful English countryside, or a
            code retreat, followed by lunch and informal activities until people head home.</p>
    </div>

    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="15"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="16"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100"
                        src="img/2019/matthew3.jpg"
                        alt=""
                        title=""
                    >
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                        <p>Photo by <a href="https://twitter.com/bnathyuw">Matthew Butt</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="img/2019/matthew2.jpg"
                        alt=""
                        title=""
                    >
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                        <p>Photo by <a href="https://twitter.com/bnathyuw">Matthew Butt</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="img/2019/esko8.jpg"
                        alt=""
                        title=""
                    >
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                        <p>Photo by <a href="https://twitter.com/EskoLuontola">Esko Luontola</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="img/2019/esko1.jpg"
                        alt=""
                        title=""
                    >
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                        <p>Photo by <a href="https://twitter.com/EskoLuontola">Esko Luontola</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="img/2019/esko2.jpg"
                        alt=""
                        title=""
                    >
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                        <p>Photo by <a href="https://twitter.com/EskoLuontola">Esko Luontola</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="img/2019/esko3.jpg"
                        alt=""
                        title=""
                    >
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                        <p>Photo by <a href="https://twitter.com/EskoLuontola">Esko Luontola</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="img/2019/matthew1.jpg"
                        alt=""
                        title=""
                    >
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                        <p>Photo by <a href="https://twitter.com/bnathyuw">Matthew Butt</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img
                        class="d-block w-100"
                        src="img/2018/marketplace.jpg"
                        alt="Building the marketplace: people queueing to present their sessions and fit it into the agenda"
                        title="Where the magic materialises"
                    >
                    <div class="carousel-caption d-none d-md-block">
                            <h5>Where the magic materialises</h5>
                            <p>Building the marketplace: people queueing to present their sessions and fit it into the agenda.</p>
                            <p>Photo by <a href="https://twitter.com/nelisboucke">Nelis Boucké</a></p>
                            </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="img/2019/esko4.jpg"
                        alt=""
                        title=""
                    >
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                        <p>Photo by <a href="https://twitter.com/EskoLuontola">Esko Luontola</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="img/2019/esko5.jpg"
                        alt=""
                        title=""
                    >
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                        <p>Photo by <a href="https://twitter.com/EskoLuontola">Esko Luontola</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="img/2019/matthew2.jpg"
                        alt=""
                        title=""
                    >
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                        <p>Photo by <a href="https://twitter.com/bnathyuw">Matthew Butt</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="img/2018/session.jpg"
                        alt="Example of a session: Introduction to Cobol"
                        title="Prepare to be surprised!"
                    >
                    <div class="carousel-caption d-none d-md-block">
                            <h5>Prepare to be surprised!</h5>
                            <p>Example of a session: Introduction to Cobol</p>
                            <p>Photo by <a href="https://twitter.com/isaacasensio">Isaac Asensio</a> /
                                Session by <a href="https://twitter.com/deniseyu21">Denise Yu</a></p>
                            </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="img/2018/outdoors.jpg"
                        alt="Playing racket sport in the park outside the venue"
                        title="Letting off steam between sessions"
                    >
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Letting off steam between sessions</h5>
                        <p>Playing racket sport in the park outside the venue</p>
                        <p>Photo by <a href="https://twitter.com/AmelieCornelis">Amélie Cornélis</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="img/2019/esko6.jpg"
                        alt=""
                        title=""
                    >
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                        <p>Photo by <a href="https://twitter.com/EskoLuontola">Esko Luontola</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="img/2019/esko7.jpg"
                        alt=""
                        title=""
                    >
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                        <p>Photo by <a href="https://twitter.com/EskoLuontola">Esko Luontola</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="img/2019/matthew4.jpg"
                        alt=""
                        title=""
                    >
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                        <p>Photo by <a href="https://twitter.com/bnathyuw">Matthew Butt</a></p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100"
                        src="img/2019/matthew5.jpg"
                        alt=""
                        title=""
                    >
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                        <p></p>
                        <p>Photo by <a href="https://twitter.com/bnathyuw">Matthew Butt</a></p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="text-center">
        <p>PS: If you have good pics to share, <a href="contact.html">let us know</a>!</p>
    </div>

    <h3>Why should I attend?</h3>

    <p>SoCraTes UK is designed to encourage the participation of all attendees via coding activities,
        group discussions, presentations, informal conversations, and whatever else the participants decide to do.</p>

    <p>SoCraTes UK is run in an <strong>unconference</strong> style. Organised sessions start at 9am and finish at 6pm. However,
        since this is an unconference, attendees are free to carry on until whenever they like, and run or attend
        whichever sessions they choose. Expect <strong>workshops</strong>, <strong>talks</strong>,
        <strong>group discussions</strong> and <strong>demonstrations</strong> from morning 'til night.</p>

    <p>As it's an unconference, it's <em>you</em> and people like you who will be organising the sessions. You won't just
        learn, you'll also teach. Anyone who is passionate about software, aware or involved in Software Craft, and
        who wants to share their knowledge, experience, expertise, but is also willing and keen to learn from
        others, should come.</p>
    <p>Besides talking about software and writing code, we also have evening events (organised by the participants),
        ranging from pair-programming sessions and workshops to more <strong>social events</strong>, such as gaming,
        music and drinks. Bring along your guitars and saxophones, your board games and packs of cards, and bone up
        on the rules to Werewolf. And expect to have philosophical discussions about the software industry as you
        play.</p>

    <p>Since we are all in the same hotel, we have a lot of time to spend together. Conversations and coding
        activities can go for <strong>as long as you want</strong> Sessions will take place in proper rooms with projectors,
        tables, and chairs, but also wherever people congregate—last year, people spent a lot of time outside in the
        garden, enjoying the weather and the beautiful landscape as they discussed the intricacies of software
        development.</p>

    <p>SoCraTes UK is a <strong>true Software Crafters gathering</strong>. Don't miss out.</p>
</div>
