<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>SoCraTes UK{% if page.title %} - {{ page.title }}{% endif %}</title>

        <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="css/custom/base.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=PT+Serif+Caption' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="/favicon.ico">
    </head>

    <body>
        {% include navbar.html %}

        <div class="container">
            <div class="row">
                {% include header.html %}
            </div>

            <div class="row">
                <div class="col-md-9">
                    {{ content }}
                </div>

                <div class="col-md-3">
                    {% include aside.html %}
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
    </body>
</html>
